<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Gerenciamento de Áreas</h1>
    <p><a href="{% url 'area_cadastro' %}">Cadastro</a></p>

    <p>Lista de Áreas</p>
    {% for area in areas %}
    <p>{{area.nome}} 
        | <a href="{% url 'area_editar' area.id %}">EDITAR</a>
        | <a href="{% url 'area_remover' area.id %}">REMOVER</a>
    </p>
    {% empty %}
    <p>Nenhuma área cadastrada</p>
    {% endfor %}

</body>
</html>