<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Autenticação</h1>
    <form method="post">
        {% csrf_token %}
        <p>
            Usuário:
            <input type="text" name="usuario">
        </p>
        <p>
            Senha:
            <input type="password" name="senha">
        </p>
        <p>
            <input type="submit" value="Login">
        </p>
    </form>
</body>
</html>