<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Área</h1>
    <P><a href="{% url 'area_cadastrar' %}"> CADASTRAR </a></P>
    <p> Listagem de Áreas: </p>
    {% for area in areas %}
    <p>
        Título: {{area.nome}}
        | <a href="{% url 'area_editar' area.id %}"> EDITAR </a>
        | <a href="{% url 'area_remover' area.id %}"> REMOVER </a>
    </p>
    {% empty %}
    <p> Nenhum Estilo Cadastrado</p>
    {% endfor %}


    <p><a href="{% url 'index' %}">Voltar</a></p>
</body>
</html>