{% extends 'base.html' %}

{% block conteudo %}
<div class="container">
    <div class="row mt-5">
      <div class="col-4">
        <img src="https://i.ytimg.com/vi/rz5hm6OrLqA/hqdefault.jpg" class="img-fluid" alt="IFRN - Campus Canguaretama" />
      </div>
      <div class="col-8">
        <p>Com uma área total de 106.796,92 m2 e uma área construída de 8701,65 m2, o Campus está localizado na cidade de Canguaretama-RN, na microrregião do Litoral Sul do estado, mesorregião do Leste Potiguar. O município tem uma população de 30.916 habitantes, com área territorial de 245 km² e fica distante 67 km da capital do estado, Natal.</p>
        <p>O Campus tem foco de atuação estabelecido nas áreas de Eletromecânica, Turismo e Informática, contando com um número de 16 salas de aula e 23 laboratórios. A escolha dessas áreas foi realizada junto à comunidade local, quando detectou-se uma carência de profissionais com qualificação nas mesmas para atender à vocação turística da cidade e às indústrias instaladas na região. Além de oferecer cursos técnicos, o Campus Canguaretama também desenvolverá ações de extensão e pesquisa que contribuam para o desenvolvimento social e econômico da região, integrando as ações do Campus com a comunidade e sociedade local.</p>
      </div>
    </div>
</div>
{% endblock %}