<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro</h1>

    <form action="{% url 'resultado' %}" method="post">
        {% csrf_token %}
        <p>
            Nome:
            <input type="text" name="nome" />
        </p>

        <p>
            CPF:
            <input type="text" name="cpf" maxlength="11"/>
        </p>

        <p>
            Qual linguagem não usa ; ?<br />

            <input type="radio" name="linguagem" value="Java"/>
            Java
            
            <br />

            <input type="radio" name="linguagem" value="Python"/>
            Python



            
        </p>



        <p>
            <input type="submit" value="Cadastrar" />
        </p>

    </form>
</body>
</html>