<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if not  request.session.usuario w %}
    <p><a href="{% url 'registro' %}">Cadastro</a></p>
    <p><a href="{% url 'login' %}">Login</a></p>
    {% endif %}

    {% if request.session.usuario %}
    <p><a href="{% url 'perfil' %}">Perfil</a></p>
    <p><a href="{% url 'logout' %}">Sair</a></p>
    {% endif %}
</body>
</html>