<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Registro de Usuário</p>
    <form action="{% url 'registro' %}" method="post">
        {% csrf_token %}
        <p>
            Nome:
            <input type="text" name="nome" />
        </p>
        <p>
            CPF:
            <input type="text" name="cpf" />
        </p>
        <p>
            Telefone:
            <input type="text" name="telefone" />
        </p>
        <p>
            Data de Nascimento:
            <input type="date" name="datanascimento" />
        </p>
        <p>
            E-mail
            <input type="text" name="email" />
        </p>
        <p>
            Senha
            <input type="password" name="password" />
        </p>


        <p><input type="submit" value="Registrar" /></p>
    </form>
</body>
</html>