<nav>
  <div class="nav-inner">
    <a href="index.html" class="logo">
      <div class="logo-icon">IF</div>
      <div class="logo-text">IFRN FIC<span>Formação Inicial e Continuada</span></div>
    </a>
    <button class="hamburger" id="hamburger" aria-label="Menu">
      <span></span><span></span><span></span>
    </button>
    <div class="nav-links" id="nav-links">
      <a href="{% url 'index' %}">Inicial</a>
      <a href="{% url 'curso_galeria' %}">Cursos</a>
      <a href="{% url 'contato' %}">Contato</a>
      <a href="">Transparência</a>
      <div class="nav-divider"></div>
      <a href="login.html" class="btn-nav btn-login">Login</a>
      <a href="cadastro.html" class="btn-nav btn-cadastro">Cadastro</a>
      <a href="perfil.html" class="btn-nav btn-perfil">Perfil</a>
      <a href="#" class="btn-nav btn-sair">Sair</a>
    </div>
  </div>
</nav>