<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cursos</h1>
    <P><a href="{% url 'curso_cadastrar' %}"> CADASTRAR </a></P>
    <p> Listagem de Cursos: </p>
    {% for curso in cursos %}
    <p>
        Título: {{curso.titulo}}
        | <a href="{% url 'curso_editar' curso.id %}"> EDITAR </a>
        | <a href="{% url 'curso_remover' curso.id %}"> REMOVER </a>
    </p>
    {% empty %}
    <p> Nenhum Estilo Cadastrado</p>
    {% endfor %}

    <p><a href="{% url 'index' %}">Voltar</a></p>
</body>
</html>